name: Publish Hex package

on:
  push:
    tags: [ "*" ]

env:
  ELIXIR_VERSION: "1.14.0"
  OTP_VERSION: "24.1"

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    env:
      ImageOS: ubuntu20
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
        with:
          elixir-version: ${{ env.ELIXIR_VERSION }}
          otp-version: ${{ env.OTP_VERSION }}
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Publish to Hex
        run: HEX_API_KEY=${{ secrets.HEX_API_KEY }} mix hex.publish --yes
